<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
	  	<title>Social Media Login Example</title>
	  	<meta charset="utf-8">
	  	<meta name="viewport" content="width=device-width, initial-scale=1">
	  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
	  	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/5.1.1/bootstrap-social.css">
	  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	  	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
	  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
	  	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	  	<link rel="stylesheet" href="custom.css">
	</head>
	<body>
		<div class="jumbotron jumbotron-fluid">
	  		<div class="container">
	    		<h1>Social Media Login</h1>      
	    		<p>Social media login example. You can login by using Google, Facebook, Twitter and Linked In. <br/>All type of logins are more secured by using OAuth2.</p>
	  		</div>
		</div>
		<div class="container">
  					<div class="row">
  					<div class="col-sm-3">
  					</div>
  						<div class="col-sm-6">
  						
  						<h2 th:if="${myForm.signInProvider != null}">Signup with <span th:utext="${myForm.signInProvider}"></span></h2>
  						
  						<div class="alert alert-danger" th:if="${errorMessage != null}" th:text="${errorMessage}">
  						</div>
  						<form th:object="${myForm}" method="POST">		
  							  <input type="hidden" th:field="*{userId}"  />
         						<input type="hidden" th:field="*{signInProvider}" />  			
  						 <div class="form-group">
							    <label for="firstName">First Name:</label>
							    <input type="text" class="form-control" id="firstName" autofocus th:field="*{firstName}"><BR/>
							    <div class="alert alert-danger" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">
  								</div>
							  </div>
							   <div class="form-group">
							    <label for="lastName">Last Name:</label>
							    <input type="text" class="form-control" id="lastName" th:field="*{lastName}"><BR/>
							    <div class="alert alert-danger" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">
  								</div>
							  </div>
							  
							   <div class="form-group">
							    <label for="email">Email:</label>
							    <input type="text" class="form-control" id="email" th:field="*{email}"><BR/>
							    <div class="alert alert-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">
  								</div>
							  </div>
  						
  							 <div class="form-group">
							    <label for="usernameTxt">Username:</label>
							    <input type="text" class="form-control" id="usernameTxt" th:field="*{userName}"><BR/>
							    <div class="alert alert-danger" th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}">..
  								</div>
							  </div>
							  <div class="form-group">
							    <label for="pwd">Password:</label>
							    <input type="password" class="form-control" id="pwd" th:field="*{password}"><BR/>
							    <div class="alert alert-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">..
  								</div>
							  </div>
							    <div class="d-flex justify-content-between mb-3">
								    <div class="p-2"><a href="/"><button type="button" class="btn btn-secondary">Back</button></a></div>
								    <div class="p-2"></div>
								    <div class="p-2"><button type="submit" class="btn btn-info">Create New Account</button></div>
							  </div>
							  </form>
					</div>
					  <div class="col-sm-3">
					</div>
  				</div>
		</div>
	</body>
</html>